database/
core/__pycache__/
tests/
.DS_Store
storage/
__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.env/
env/

tareas.md
PLAN_IMPLEMENTACION.md
run_namenode_cluster.sh
plan_implementacion_datanodes.md
PLAN_IMPLEMENTACION_DATANODES.md
SECURITY_IMPLEMENTATION.md
security/README.md
logs/
a
